body {
	width: 700px;
	margin: auto;
	font-family: tahoma, arial, helvetica, sans-serif;
}

a {
	color: blue;
	text-decoration: none;
}

a:visited {
	color: blue;
	text-decoration: none;
}

a:hover {
	color: tomato;
}

.caption {
	margin: auto;
	margin-bottom: 5px;
	font-size: 14pt;
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
	width: 100%;
	color: tomato;
}

.header {
	width: 100%;
}

.ship-image {
	height: 220px;
	display: table-cell;
	float: left;
}

.ship-image * {
	display: inline-block;
	vertical-align: middle;
}

.ship-image img {
	width: 265px;
	height: 200px;
	border: 2px ridge black;
	cursor: pointer;
}

.section {
	margin: auto;
	width: 600px;
}

.tableHeader {
	font-size: 14pt;
	font-weight: bold;
	font-family: sans-serif;
	margin: 20px 0 5px 10px;
}

table {
	width: 100%;
}

.table {
	border-collapse: collapse;
	font-size: 9pt;
	margin: auto;
}

.table tr:nth-child(even) {
	background-color: white;
}

.table tr:nth-child(odd) {
	background-color: #eff4f8;
}

.table td {
	border: 2px ridge black;
	padding: 2px 0 2px 10px;
}

