#mainDiv{
	height: 100vh;	
}

.leftMenuCt{
	float: left;
    background-image: url(../images/leftMenu/bgDraft.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    width: 265px;
}